@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body  {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #D72323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 64px;
}

nav ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #F5EDED;
    font-size: 18px;
}

nav a:hover {
    font-weight: bold;
}

main {
    padding: 32px 64px;
    display: flex;
    gap: 32px;
}

aside {
    flex: 1;
}

footer {
    background-color: #3E3636;
    text-align: center;
    padding: 8px 64px;
    color: white;
}

h1 {
    font-size: 42px;
    margin: 0;
}

h2 {
    font-size: 24px;
}

p #caption {
    font-size: 8px;
}

#content {
    flex: 3 1;
}

.logo {
    color: #F5EDED;
    font-size: 24px;
    font-weight: bold;
}

.featured-image {
    width: 75%;
}

.profile {
    border-left: 1px solid #3E3636;
    padding: 16px 0 16px 32px;
}

.profile img {
    width: 100px;
    border-radius: 8px;
}

.profile header {
    text-align: center;
}

.profile h2 {
    margin-top: 0;
}

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        gap: 0;
    }

    main aside {
        align-self: center;
    }

    .profile {
        margin-top: 16px;
        border-top: 1px solid #3E3636;
        border-left: 0;
        padding: 16px 0 0 0;
    }

    .profile p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    body > header {
        flex-direction: column;
        gap: 16px;
    }

    nav ul {
        gap: 48px;
    }

    main aside {
        align-self: stretch;
    }

}